

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.6rem;
}

header-01 {
  position: relative;
}

main-01 {
  padding: 2rem;
}

/************** NAVIGATION ***************/

nav-01 ul {
	display: flex; 
	flex-wrap: wrap; 
	max-width: 1080px; 
	margin: 0 auto;		
   background: #999;
}
nav-01 ul,
nav-01 li {
	flex: 1;	
}
nav-01 li:last-child {
   border-bottom: none;
}
nav-01 a {
	text-decoration: none;
	color: inherit;
	display: block;
	font-size: 1.8rem;
}
nav-01 a:hover {
	background: #adacac;
	color: #fff;
}
nav-01 li {
	position: relative;
	line-height: 50px;
	color: #fff;
	text-align: center;
}  
nav-01 input,
nav-01 label {
	display: none;
	width: 36px; 
	height: 36px; 
	background: #555; 
	color: #fff; 
	text-align: center; 
	line-height: 36px;
	font-size: 1.6rem;
	border-radius: 2px;
} 
nav-01 label {
   position: absolute; 
   top: 8px; 
   right: 8px; 
   transition: .4s;
}
nav-01 label:hover {cursor:pointer;}
nav-01 label:before {
	font-family: FontAwesome;
	font-size: 24px;
	content: "\f0c9";
	text-align: center;
}

/************* MEDIA QUERIES **************/

@media only screen and (max-width: 1080px){
   nav-01 {
      position: relative;
   }
	nav-01 ul {
		transform: translateY(0);
		box-shadow: 0 0 5px rgba(0,0,0, .7);
      transition: all .5s;
      position: absolute;
      width: 100%;
	}
	nav-01 li {
		flex: none; 
		width: 100%;
		border-bottom: solid 1px #777;
	} 
	nav-01 input[type="checkbox"]:checked + ul  {
		transform: translateY(-100%);
		width: 100%;
		background: #999;   
      transition: all .5s;
	}
	nav-01 label{
      display: block;
   }  
	nav-01 input[type="checkbox"]:checked + ul li:nth-child(1){
		background: #777; 
		color: #fff;
	}  
}

.faq-sec{padding: 40px 0;max-width: 900px;margin: 0 auto;}
